[2020-11-29 18:37] PetalsOnWind opened #2 "Add topics to ideas.md"

[2020-11-29 18:39] PetalsOnWind opened #3 "Add more functions or graphs in the intro to numpy, pandas and matplotlib notebook"

[2020-11-29 18:40] PetalsOnWind opened #4 "Make a notebook on hypothesis testing"

[2020-11-29 18:41] PetalsOnWind opened #5 "Make a notebook on different distributions"
Should include the mathematical specification, graph, and simulation in numpy

[2020-12-04 07:14] Gaurav7888 commented on #3
I want to work on this notebook , will use explainable comments also.

[2020-12-04 07:14] Gaurav7888 commented on #4
I want to make this notebook.

[2020-12-04 07:14] Gaurav7888 commented on #5
I want to make notebook on this topic.

[2020-12-04 10:32] PetalsOnWind opened #6 "Multicollinearity notebook"

[2020-12-04 10:32] PetalsOnWind opened #7 "Add autocorrelation notebook"

[2020-12-04 10:33] PetalsOnWind opened #8 "Notebooks on time series"
Relevant topics can be stationarity, de-seasonalizing, de-trending, AR, MA, forecasting

[2020-12-04 10:34] PetalsOnWind opened #9 "Notebook(s) on Panel Data"
What is panel data? Advantages of panel data? Associated statistical tests. FEM and REM models

[2020-12-04 10:35] PetalsOnWind opened #10 "Notebook on heteroskedasticity"

[2020-12-04 10:37] PetalsOnWind commented on #3
@Gaurav7888 Since you have posted on multiple issues, you can pick one of the other ones. Since this issue is deliberately set to be very easy so even someone new can contribute

[2020-12-04 10:37] PetalsOnWind commented on #5
@Gaurav7888 You can start working on this

[2020-12-04 10:39] PetalsOnWind opened #11 "Notebook on precision and recall"
Should include case studies and what happens with precision and recall is high/low.

[2020-12-04 10:40] Gaurav7888 commented on #5
Sure did u assigned me this work.

[2020-12-04 10:40] PetalsOnWind opened #12 "Notebook on data summary"

[2020-12-04 10:41] Gaurav7888 commented on #3
Ok no issue u told me to do the other one . Thx.

[2020-12-04 11:47] prit108 commented on #11
Hey @PetalsOnWind I would like to work on this... Can you clarify by case studies does it mean I should code full fledged models from datasets ?

[2020-12-04 12:23] beingaryan commented on #3
Hey @PetalsOnWind. I want to start working on this issue and will provide a better Notebook for in-depth understanding.

[2020-12-04 12:29] PetalsOnWind commented on #11
@prit108 Yes. The datasets should be existing datasets and not random simulated numbers

[2020-12-04 12:32] PetalsOnWind commented on #3
@beingaryan Sure. This is a trivial issue though. Let me know if you want to work on something else.

[2020-12-04 12:48] PetalsOnWind opened #13 "Add gitignore file for ipynb_checkpoints"
Trivial issue meant to give an easy accomplishment. Will not count towards final evaluation

[2020-12-04 12:51] beingaryan commented on #3
Thanks! I believe I can make this work!

[2020-12-04 12:57] SmilingYogi commented on #4
@PetalsOnWind I can take this one

[2020-12-04 13:32] skkarn21 commented on #8
I would like to work on this notebook. I would first read up more on this topic. Please assign me this notebook.

[2020-12-04 14:50] SmilingYogi commented on #10
@PetalsOnWind I can take up this. Will read more on the topic

[2020-12-04 15:37] dp-iitkgp commented on #6
Interested to work on this project!
Could you tell more about this, I am new to open source!
Though I have done some linear regression and logistic regression problems on kaggle.

[2020-12-04 16:27] PetalsOnWind commented on #6
Multicollinearity occurs when there is a high degree of correlation between two or more explanatory variables. Due to multicollinearity, you might get a very high accuracy (or more accurately high R^2)  but the errors for the coefficients happen to be so high that we cannot say with any variable actually contributes to accuracy. For identifying multicollinearity, we run a regression considering on

[2020-12-04 16:35] aditimaurya commented on #7
Hi Pankhuri, Please assign me this issue.

[2020-12-04 17:04] PetalsOnWind commented on #7
@aditimaurya I think Mintu had mentioned his interest in this topic in Gitter. I guess you can both coordinate and one person can focus more on autoregression

[2020-12-05 04:09] TarunMANIT commented on #5
@PetalsOnWind I want to work on this Notebook

[2020-12-05 04:46] yashvijain0710 commented on #8
I would like to work on this noteboook. Please assign this notebook to me

[2020-12-05 04:50] RiyaMANIT commented on #3
@PetalsOnWind I am beginner to Python, I want to work on this Please Assign

[2020-12-05 05:30] tejaswi24 commented on #8
I would like to work on this notebook. I am learning more about time series modelling. Please assign this notebook to me.

[2020-12-05 06:03] ayushsurana710 commented on #8
I would like to work on this notebook. Can I work on this?

[2020-12-05 08:32] munditva commented on #10
@PetalsOnWind I had read about ARCH, GARCH and other derivatives of the ARCH model as part of my Microeconomics project on Robert Engle's works.
I would like to work on this notebook for a deeper dive into heteroskedastic models.

[2020-12-05 08:39] NirvikC commented on #12
I would like to work on this notebook. Please describe what I have to do about data summary since I am new to open source.

[2020-12-05 10:34] Kibby-b commented on #9
Please assign this issue to me.

[2020-12-05 10:40] PetalsOnWind commented on #8
@yashvijain0710 AR, MA, ARMA, ARIMA, SARIMA
@tejaswi24 Analysing trend and seasonality
@ayushsurana710 Stationarity and unit root
Does this distribution seem fine?

[2020-12-05 10:40] PetalsOnWind commented on #8
@skkarn21 Let me know what topics you pick up

[2020-12-05 10:42] PetalsOnWind commented on #5
@TarunMANIT I assume you meant Central Limit Theorem? I'll open an issue on CLT and comment on that and I'll assign you CLT.

[2020-12-05 10:42] PetalsOnWind opened #14 "Notebook on Central Limit Theorem"

[2020-12-05 10:45] PetalsOnWind commented on #3
@RiyaMANIT Sure! Go ahead and make yourself comfortable with using python

Things you can do:
1. Better graphs (include title, legend, etc)
2. More functions in numpy and pandas
3. Better documentation

[2020-12-05 10:48] PetalsOnWind opened #15 "Notebook on ARCH models"

[2020-12-05 10:48] PetalsOnWind commented on #10
@munditva I'll open another issue titled ARCH models #15, comment on that and I'll assign you

[2020-12-05 10:51] PetalsOnWind commented on #12
@NirvikC Learn how to read data from a csv file to a dataframe (`pd.read_csv`). If you run `df.describe()` on a dataframe named `df` then you get a summary table. In this notebook, you have to come up with methods to generate those statistics (mean, median, 25%,75% percentiles, max, min, etc) from scratch.

[2020-12-05 10:54] TarunMANIT commented on #14
I will do this CLT, Please Assign

[2020-12-05 10:55] TarunMANIT commented on #5
Yes Ma'am, Please Assign CLT for me

[2020-12-05 10:57] RiyaMANIT commented on #3
Yes Please Assign me

[2020-12-05 10:57] skkarn21 commented on #8
De-seasonalizing, De-trending, Forecasting

[2020-12-05 11:07] munditva commented on #15
I would like to work on this.

[2020-12-05 11:08] PetalsOnWind opened #16 "Notebook on Simultaneous Equation Models"

[2020-12-05 11:09] PetalsOnWind opened #17 "Notebook on dummy variables"

[2020-12-05 11:12] PetalsOnWind opened #18 "Notebook on model specification and diagnostic testing"

[2020-12-05 11:14] TarunMANIT commented on #2
@PetalsOnWind I Have an idea regarding 'F&O' Trading , Like from Raw Data Segregating Futures and Options Using RegEx and Slicing later on Segregate Options as CE (Call Option) and PE (Put Option), Will create a correlation matrix between instruments based on their closing price. The time interval should be a variable input in creating the matrix.

[2020-12-05 11:14] PetalsOnWind opened #19 "Notebook on joint probability distributions"

[2020-12-05 11:15] PetalsOnWind opened #20 "Notebook on maximum likelihood estimation"

[2020-12-05 11:15] PetalsOnWind opened #21 "Notebook on Bayes Theorem"

[2020-12-05 11:31] yashvijain0710 commented on #8
seems fine to me

[2020-12-05 12:01] tejaswi24 commented on #8
Yes!
This seems fine to me.

On Sat, Dec 5, 2020 at 5:01 PM yashvijain0710 <notifications@github.com>
wrote:

[2020-12-05 12:05] munditva commented on #21
@PetalsOnWind I would like to work on this. Please assign

[2020-12-05 14:41] mridul2899 commented on #20
I want to work on this issue. From what I understand, the notebook must describe the need for maximum likelihood estimation, the mathematics involved along with the derivations, working codes from scratch, and some applications. For now, I plan to do this for the elementary probability distributions like the Bernoulli, binomial, exponential, Poisson, normal distributions, and then I can extend it

[2020-12-05 14:59] NirvikC commented on #12
Can I do it with any dataset and in jupyter notebook?

[2020-12-05 15:36] NiharikaVadlamudi commented on #16
Hi, I would like to work on this issue . But , I need more resources for understanding these equation models , and after that I can get started on it?

[2020-12-05 20:22] basilisk-2001 commented on #13
@PetalsOnWind  I'm interested to contribute my ideas on this topic and work on the same , but please give me a detailed explanation on the work that I need to do , as I'm new to open source .

[2020-12-05 20:30] basilisk-2001 commented on #16
@PetalsOnWind   I'm interested to contribute my ideas on this topic and work on the same , but please give me a detailed explanation on the work that I need to do , as I'm new to open source .

[2020-12-05 20:31] basilisk-2001 commented on #17
@PetalsOnWind   I'm interested to contribute my ideas on this topic and work on the same , but please give me a detailed explanation on the work that I need to do , as I'm new to open source .

[2020-12-06 05:57] PetalsOnWind commented on #20
@mridul2899 Sounds good to me. I had plan for normal distribution only but other distributions also sound good

[2020-12-06 05:57] PetalsOnWind commented on #12
@NirvikC Yes

[2020-12-06 06:01] JanhaviSoni commented on #19
Can you please give the details about the topic and how do we need to proceed for its implementation and things to be done under this topic?

[2020-12-06 06:02] PetalsOnWind commented on #16
For understanding what the topic is about, I would refer you to the Simulatenous Equation Models portion in any econometrics textbook. The portion in Basic Econometrics by Damodar Gujarati is pretty easy to understand to get a very basic idea. If you want video resources, Ben Lambert has a good playlist on YouTube to understand the topics.

One of you can work on identification problem (if the equ

[2020-12-06 06:06] PetalsOnWind commented on #13
@basilisk-2001 This is a very easy issue. Just search what a .gitignore file is.

All you have to do is to fork this repo, make a clone on your local system (follow any git tutorial for that). After that, make a folder named `.gitignore` and add the following lines to it:
[code]

[2020-12-06 07:50] PetalsOnWind commented on #19
@JanhaviSoni I expect a notebook that details what joint probability distributions are, some graphs, information on marginal and conditional probabilities (You can easily find resources to understand with a Google search)

[2020-12-06 09:14] anushka645 commented on #15
Hi,I would like to contribute to this issue. Can you plz brief about how can i do so?

[2020-12-06 09:29] PetalsOnWind commented on #15
@anushka645 Actually @munditva showed interest in working on this. You can either collaborate with him to decide the work flow or take up some other issue

[2020-12-06 09:37] anushka645 commented on #4
Hi @PetalsOnWind can i contribute to this issue but i will require your guidance in it.

[2020-12-06 09:54] stormfireuttam commented on #12
Hello there, I have some prior experience working with Matplotlib and Pandas and would like to contribute to your project. Could you suggest me from where to start.

[2020-12-06 10:43] PetalsOnWind commented on #4
For record, the above pull request was closed due to excessive plagiarism from [this](https://towardsdatascience.com/demystifying-hypothesis-testing-with-simple-python-examples-4997ad3c5294)

@anushka645 You can google, or just open any basic statistics textbook, to get an idea of what hypothesis testing is. You have to define what null and alternative hypotheses are, what is one-tailed and two-ta

[2020-12-06 10:51] PetalsOnWind commented on #12
@stormfireuttam I have explained what to do in this issue on the above comment. Let me know if you have some other query

[2020-12-06 10:52] PetalsOnWind opened #26 "Notebook on ANOVA"

[2020-12-06 10:52] PetalsOnWind opened #27 "Notebook on Monte Carlo Methods for Inference"

[2020-12-06 11:14] anushka645 commented on #4
@PetalsOnWind can you plz assign it to me i would like to work on it

[2020-12-06 12:23] mridul2899 commented on #13
As far as I'm aware, if we add .gitignore in the top level, the files/folders in the subdirectories are ignored by default. So merely adding `.ipynb_checkpoints/` should suffice.

[2020-12-06 12:26] stormfireuttam commented on #12
[Pull Request #29 ](https://github.com/PetalsOnWind/Statistics-and-Econometrics-for-Data-Science/pull/29)

@PetalsOnWind  I have made a pull request regarding the task allotted for data summary.

[2020-12-06 13:45] JanhaviSoni commented on #19
Please assign me this topic and guide me like how should I proceed. Should I start like this : making a separate notebook on this topic and adding definitions and examples and making first PR then adding more info graphs . Please guide me like how should I proceed. I am new to open source.

[2020-12-06 13:54] saptarshimondal1305 commented on #17
I am interested in doing this ,I have previous experience too , please assign it to me.

[2020-12-06 14:08] PetalsOnWind commented on #13
@mridul2899 Thanks for the tip! I was unsure of that so I thought of adding both to be sure

[2020-12-06 14:08] #13 closed

[2020-12-06 14:11] PetalsOnWind commented on #19
Yes, you can start like you said.

[2020-12-06 14:13] PetalsOnWind commented on #17
I am looking for a short introduction on why you would use dummy variables and why use (n-1) for n categories and how to interpret the coefficients. You can also branch off to dummy variables as dependent model and using logit/probit models

[2020-12-06 15:06] NirvikC commented on #12
@PetalsOnWind I have also tried to make a pull request regarding the task. Please check whether the pull request was made properly or not

[2020-12-06 16:40] saptarshimondal1305 commented on #17
@PetalsOnWind  we use (n-1) for n categories to avoid the dummy variable trap. Basically all the categorical data are multi-colinear(which means once we know for N-1 variables  we can predict the N 'th variable) ,it can be thought of intuitively as of probability where we know sum of all n probabilities will be 1 so if we know the probabilities of n-1 variables then the nth probability can be take

[2020-12-06 16:50] PetalsOnWind commented on #12
@NirvikC It was not made

[2020-12-06 16:52] PetalsOnWind commented on #17
@saptarshimondal1305 You might try refining this and adding some proofs and codes in a .ipynb file and then you can send a PR.

[2020-12-06 17:02] stormfireuttam commented on #12
@PetalsOnWind could you please tell whether my pull request will be considered or not..

[2020-12-06 17:44] NirvikC commented on #12
@PetalsOnWind I have tried again, can you please check?

[2020-12-06 17:51] basilisk-2001 commented on #17
@PetalsOnWind  I have made a .ipynb file but how to upload it here . I can't send a PR . How to do it ???

[2020-12-06 19:02] munditva commented on #27
Can you provide some description. I couldn't understand what does 'for Inference' mean. Do we need to describe Monte Carlo simulation and provide some examples with code or is it something else.

I would like to work on this

[2020-12-06 19:06] PetalsOnWind commented on #27
There is a chapter on this in the book Statistical Computing by Maria Rizo. I was looking for something along those lines. Something like how to do hypotheses testing using Monte Carlo simulation.

[2020-12-07 06:37] PriyaJ28 commented on #26
Can you please give the details about the topic and a brief about how to proceed for implementation and things to be done under this topic?

[2020-12-07 07:49] Kharya3 commented on #4
@PetalsOnWind I would like to contribute to this notebook.

[2020-12-07 09:26] hari-ajidesh commented on #3
@PetalsOnWind I am a beginner to Python. So can you please assign me to this work.

[2020-12-07 10:33] PetalsOnWind commented on #26
ANOVA stands for Analysis of Variance. What I expect are details on how to conduct ANOVA and some functions to test the hypotheses for ANOVA.
Reference: Chapter 2 Simple Comparative Experiments from Design and Analysis of Experiments by Montogomery

[2020-12-07 10:37] anushka645 commented on #4
@PetalsOnWind plz assign this task to @Kharya3 as i am no longer able to contribute in it.

[2020-12-07 12:40] skkarn21 commented on #26
I am interested in this.

[2020-12-07 14:29] abhishek5601 commented on #19
Hi @PetalsOnWind, I would also like to work on this issue. Would it be fine if I can work with @JanhaviSoni and coordinate with her?

[2020-12-07 14:31] TarunMANIT opened #35 "Notebook on Application of Correlation in Predicting Stock Movements using Close prices"
Segregating and Cleaning F&O from the Raw Data, Finding Correlation between the Instruments by their Close Prices

[2020-12-07 16:23] NirvikC commented on #12
I did the required changes in the program( using numpy to find instead of pd library) and made a pull request but could not find how to upload on notebook folder,

[2020-12-08 08:41] NirvikC commented on #27
I want to work on this, can you please assign this to me?

[2020-12-08 10:34] suhas142 commented on #21
If there is some help needed I would like to contribute to this issue. I don't know how much work has been done here, can anyone help me with it?

[2020-12-08 12:20] adityapiyush26 commented on #27
I also want to work on this, please assign me this.

[2020-12-08 13:08] munditva commented on #21
@suhas142 Not much work I am reading more about Bayesian learning and have not started the notebook yet. We can collaborate ig

[2020-12-08 13:24] prit108 commented on #11
@PetalsOnWind should I do a section on ROC curves, AUC as well?

[2020-12-08 13:57] abhishek5601 commented on #27
I also want to work on it, please assign me this issue.

[2020-12-08 14:29] PetalsOnWind commented on #12
@NirvikC Do not open new PR. Continue committing to existing PRs

[2020-12-08 14:40] PetalsOnWind commented on #27
@NirvikC Your previous PR is not completely done.

@adityapiyush26 @abhishek5601 You can both start working on this issue. I am refraining from assigning the issue but you can send a PR when done.

[2020-12-08 14:41] PetalsOnWind opened #41 "Notebook on ROC, AUC"

[2020-12-09 11:01] suhas142 commented on #21
Yeah, that would be great
It would be better if you could ping me on messenger or WhatsApp so we'll
be able to communicate better
https://www.facebook.com/suhas.jain.965
WhatsApp no. 6367710086

On Tue, 8 Dec 2020, 6:38 pm munditva, <notifications@github.com> wrote:

[2020-12-09 13:42] prit108 commented on #11
@PetalsOnWind  i have created a new pull request. Please review the document and suggest any changes if required.
I already see an issue for ROC/AUC, therefore I didn't add it .

[2020-12-09 18:46] suhas142 commented on #41
Hey, I pinged you yesterday
Can you assign me?

[2020-12-11 08:12] Panda6388 commented on #8
@PetalsOnWind  can you please assign me Fbprophet model and holt winter's exponential smoothing for time series forecasting. I have done some work with it and would be comfortable. Also, mention any other model which you feel could be worked upon.

[2020-12-11 14:35] NirvikC commented on #12
@PetalsOnWind You have told me to comment the codes more thoroughly , so does it mean more comments in the code?

[2020-12-12 13:59] PetalsOnWind commented on #12
@NirvikC Yes. Look at the file on ANOVA by PriyaJ28. I think she did a good job with that. It'll give you better idea about how to comment.

[2020-12-13 07:15] NirvikC commented on #12
@PetalsOnWind I tried to make required changes and made pull request, please check

[2020-12-14 05:31] darsh169 commented on #21
Hello! @PetalsOnWind I would like to contribute to this notebook. Pls assign

[2020-12-18 03:21] JanhaviSoni commented on #19
@PetalsOnWind Please have a review if the branch is ready to get merged.

[2020-12-18 07:28] mridul2899 commented on #18
@PetalsOnWind
I'm interested in working on this next. I could not find any good resource on the internet for this topic and would therefore be referring Basic Econometrics by Damodar Gujarati. Since I am not familiar with the topic already, it would be quite helpful if you can mention the topics/sections which I should cover in the notebook.

[2020-12-18 18:03] PetalsOnWind commented on #18
Types of errors, consequences, tests

[2020-12-18 18:20] #20 closed

[2020-12-18 18:22] #26 closed

[2020-12-18 18:22] PetalsOnWind opened #51 "Notebook on 2-Way ANOVA"
Extension of the existing 1-Way ANOVA

[2020-12-18 18:25] PetalsOnWind commented on #19
@JanhaviSoni Some minor fixes needed but otherwise looks good

[2020-12-19 19:10] #19 closed

[2020-12-20 15:54] #11 closed

[2020-12-20 16:32] basilisk-2001 commented on #51
@PetalsOnWind  assign this to me ...I'm ready to contribute

[2020-12-21 06:26] hr1shu opened #58 "Adding ideas to ideas.md file"
Can you be a little more specific and strict if any, for the field of ideas which can be added?
I'm a beginner

[2020-12-21 16:34] PetalsOnWind commented on #58
Well, this issue is mainly to explore topics in statistics and econometrics and see what things can be explained by the way of Jupyter notebooks. Some examples are already given in the file. Tell more examples would be equivalent to adding those myself.

[2020-12-21 21:27] PetalsOnWind opened #61 "Notebook on LNN & CLT"
LNN: Law of large numbers
CLT: Central limit theorem

[2020-12-25 08:18] kritikaparmar-programmer commented on #41
Hey @PetalsOnWind can I take up this issue?

[2020-12-26 18:49] PetalsOnWind commented on #41
@kritikaparmar-programmer Sure. Go ahead

[2020-12-26 18:50] PetalsOnWind commented on #27
@JanhaviSoni Have a look at this issue

[2020-12-28 15:31] SmilingYogi commented on #27
@PetalsOnWind Shall I start with this issue as others do not seem to be working on this?

[2020-12-29 06:03] SmilingYogi commented on #9
@PetalsOnWind Shall I start with this issue?

[2021-01-23 03:42] kajalsri commented on #21
I would like to work on this

[2021-01-25 07:09] PetalsOnWind commented on #21
@kajalsri Feel free to pick up on any issue that has not been covered till now. No one is actively working on any issue right now.

[2021-02-17 18:05] HimanchalChandra opened #68 "Maths behind Backpropogation Algorithm"
I want to implement backpropogation algorithm from scratch in python and explain the maths behind it. Can you please assign it to me?, I am a participant of GSSOC'21.

[2021-02-18 18:46] Bhavik-Ardeshna commented on #14
Plz assign to me

[2021-02-18 18:49] Bhavik-Ardeshna commented on #14
All PR's are valid for GSSoC'21 after 1st march only right??

[2021-02-19 18:22] PetalsOnWind commented on #68
I am more towards statistical concepts rather than mathematical ones at the moment, and not really focusing on deep learning because of the black-box nature. But I guess, I can have a module on Deep Learning as a whole. If you want to take it up, you'll have to run through all parts, not just backpropagation.

[2021-02-19 18:27] PetalsOnWind commented on #14
@Bhavik-Ardeshna There is a notebook on CLT under WIP folder. You can work on cleaning it up and making it more presentable. Current problems I have with that notebook is that the notebook has copy/pasted graphs and I want the graphs to be generated out of simulation.

[2021-02-19 18:30] Bhavik-Ardeshna commented on #14
@PetalsOnWind means I hard code the to produce graph.

And I should make PR after GSSoC start to evalute in that ??

[2021-02-19 18:31] Bhavik-Ardeshna commented on #14
Plz assign issue to me :)

[2021-02-19 18:38] Bhavik-Ardeshna commented on #3
I working on this issue.......any specific suggestions to add in notebook

[2021-02-20 05:14] Bhavik-Ardeshna opened #69 "Notebook on seaborn"
All the functionality of seaborn to plot different graph

[2021-02-20 05:14] Bhavik-Ardeshna commented on #69
I am working on this notebook

[2021-02-20 14:11] PetalsOnWind commented on #69
@Bhavik-Ardeshna The project is not aimed at showing the functionality of a library. You can show it as long as it relates to some other topic.

[2021-02-20 15:04] Bhavik-Ardeshna commented on #69
ok

On Sat, Feb 20, 2021, 7:41 PM Pankhuri Saxena <notifications@github.com>
wrote:

[2021-03-07 18:48] anjiii-18 commented on #12
Can you assign me this for GSSoC21 ?

[2021-03-07 18:57] sakshi012000 commented on #12
can you please assign this to me for GSSoC21?

[2021-03-07 18:57] skybluee2001 commented on #12
I want to work on this issue under GSSOC'2021. Please assign this to me!!

[2021-03-08 05:13] psyduck1203 commented on #61
Hey, I'm a GSSoC`21 participant and I want to contribute to this repo can you assign me this issue?

[2021-03-08 14:15] aswarth123 opened #71 "Notebook on Markov Chain"
I would like to add the notebook which will help others to apprciate this concept (GSSOC 21)

[2021-03-08 14:56] pallavidhere23 commented on #21
I am GSSOC'2021 Participant can you please assign me this issue.

[2021-03-08 14:57] kajalsri commented on #21
@pallavidhere23 can we work together i m feeling difficulty in this?

[2021-03-08 15:46] TanviDeore commented on #16
I would like to work on this issue as a participant in GSSoC'21.

[2021-03-08 16:09] pallavidhere23 commented on #4
I am participant @GSSOC'2021 can u please assign it to me.

[2021-03-08 16:37] srimontidutta commented on #2
I would like to work with this issue (GSSoC 21). Please assign it to me.

[2021-03-08 16:37] srimontidutta commented on #3
I would like to work with this issue (GSSoC 21). Please assign it to me.

[2021-03-08 16:42] Bhavik-Ardeshna commented on #3
@srimontidutta I made PR as mentioned above :)

[2021-03-08 18:15] RidhimaKohli commented on #41
Can I work on this issue as a GS-SOC'21 participant ?

[2021-03-08 18:18] subhadeepCh opened #72 "Notebook Series on following topics"
Hi @PetalsOnWind ,
I want to make a notebook on the following topics :

1. Newton Rhapson
2. Lagranges Interpolation
3. Newton Forward & Backward Interpolation
4. Apriori Algorithm
5. Naive Baies
If any of the topics are relevant please assign this to me for GSSOC'21
Any suggested topics will also be appreciated

[2021-03-09 16:08] soha28 commented on #69
I would like to work on this issue as a part of GSSOC'21. Can u please assign this to me @PetalsOnWind

[2021-03-09 16:40] pawan-git7979 opened #73 "Matplotlib - Data visualisation library"
I would like to add various plots to this notebook, that's comes under the mathplotlib, and how can be made them for interseting , readable and can gain more insights from them.
would like to work on this issue[GSSOC 21].

[2021-03-09 17:13] nNikita1018 commented on #73
I want to work with this issue ..
In  python language

[2021-03-09 20:01] Pavithra2206 commented on #73
Hey @PetalsOnWind , I am GSSOC'21 participant ,can u assign me this issue ? I have significant exposure in data science (you can see my work in my repos)

[2021-03-10 03:14] snehaamenon commented on #4
I would like to create a notebook on the topic 'hypothesis testing'. Kindly Assign it to me under GSSoc21.

[2021-03-10 06:46] PragatiBhat commented on #73
@PetalsOnWind I am GSSOC'21 participant ,can u assign me this issue ?

[2021-03-10 10:52] Anam118 commented on #73
I am a participant in GSSOC 2021 and want to work on this issue.

[2021-03-10 10:54] Anam118 commented on #61
I am a participant of GSSOC and mathematics student as well and want to contribute to this repo

[2021-03-10 10:56] Anam118 commented on #6
I want to contribute to this @PetalsOnWind . I am a participant in GSSoc 2021

[2021-03-10 13:46] ruchijain4 commented on #21
Hey! I am a GSSOC Participant. I would like to work on this issue. Do I need to wait for it to be assigned to me or should I start working on it?

[2021-03-10 14:35] ananyade2412 opened #75 "Documentation of the Time Series Notebook"
Hello @PetalsOnWind
I am a participant for GSSOC'21. I would like to contribute to the Time Series Notebook.

The improvements I would like to work on include-
1.) Adding information about the dot plot, histogram, box plot graphs including the advantages and disadvantages of each graph.
2.) Adding information regarding the 4 components of a time series-
 seasonal component
trend component
cyclical

[2021-03-10 16:25] utkarshxy commented on #9
HI @PetalsOnWind, I would like to work on this notebook. Kindly assign, please.
Thanks! 😊

[2021-03-10 17:06] SSHREYA71 commented on #69
I am participant of GSSoc 2021, ad have used seaborn library , could you please assign this issue to me?

[2021-03-10 19:01] harshita-d commented on #73
hi I am Harshita, I would like to contribute to this as a part of GSSOC Participant 2021. please assign me as i have used on matplotlib library before.

[2021-03-11 07:35] Ritu7683 opened #76 "Notebook On Numpy,Pandas,Matplotlib and Seaborn"
I am a Beginner in Python and wanted to work on this issue. I will add all the necessary function of [Numpy,Pandas,Matplotlib and Seaborn] these library in the notebook. Kindly assign this to me.

[2021-03-11 07:36] Ritu7683 commented on #76
I am a GSSOC'21 Participant @PetalsOnWind

[2021-03-11 09:32] Dishita2602 commented on #76
Hello, I am an GSSOC'21 participant and want to explore this issue. I can do exploratory data analysis by using Numpy, Pandas, Seaborn, Matplotlib and additionally use Sweetviz library. I can also use some other libraries for better visualization.

[2021-03-11 09:36] Dishita2602 commented on #73
Hello, I am an GSSOC'21 participant and want to address this issue. I can do exploratory data analysis by using Numpy, Pandas, Seaborn, Matplotlib and additionally use Sweetviz library. Also my code would be clean and easy to understand. I am ready to use some other libraries for better visualization.

[2021-03-11 14:40] Ritu7683 commented on #76
@PetalsOnWind Please give me an update on this issue. Thank You

[2021-03-11 16:13] Dhanush2612 opened #77 "Notebook on Decision Tree"
Notebook on Decision Tree by making use of Titanic Survival Prediction as sample.

[2021-03-11 16:13] Dhanush2612 commented on #77
Kindly assign me this issue

[2021-03-11 16:34] Dishita2602 opened #78 "Data Visualization using Dtale library"
Hey, I can used Dtale library & swetviz library which would be highly useful in analyzing and visualizing all types of datasets. This would help in data exploration. Kindly assign me

[2021-03-12 04:50] Sibasish-Padhy commented on #2
hii @PetalsOnWind I am a participant at GSsOC 2021.Please assign it to me

[2021-03-12 05:14] Rutikab12 commented on #51
Hey @PetalsOnWind I want to add notebook on ANCOVA . I am GSSoC'21 participant also preparing this topic for a blogathon , if you assign it to me i will try to convey it in best & simple  manner.

[2021-03-12 06:46] Anam118 commented on #71
@aswarth123 hey can i contribute to this as i am mathematics student and had made some ml projects. I am a participant in GSSOC 2021.Hope you will assign it to me.

[2021-03-12 10:46] khareyash05 opened #79 "add contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-12 12:16] rohank2502 opened #80 "I will like to add contributor section in read me"
I will like to add a feature in read me which will keep the contributor list updated automatically !!

[2021-03-12 18:04] Bhavik-Ardeshna commented on #72
Please assign to me
For GSSoC'21

[2021-03-12 18:04] aishwaryachand opened #81 "Maths behing K-Mean clustering - Notebook"
hey, @PetalsOnWind  I would like to work on the issue.Pls assign me . I am a GGSOC21' participant.

[2021-03-12 18:07] Bhavik-Ardeshna opened #82 "Decision Tree Without using any Library in pure python"
Basically this notebook will help other to work on different algo without external library

[2021-03-12 18:08] Bhavik-Ardeshna commented on #82
I created this issue please assign to me

[2021-03-12 18:15] Bhavik-Ardeshna opened #83 "Multilinear Regression noteboook"

[2021-03-12 18:15] Bhavik-Ardeshna commented on #83
Please assign to me for GSSoC'21

I have some good idea to plot 3D graph for multilinear regression

[2021-03-12 18:19] Bhavik-Ardeshna opened #84 "Principle Component Analysis Notebook"
Basically Notebook will explain us how to reduce multidimensional to 2D or 3D

[2021-03-12 18:36] snehaamenon opened #85 "Notebook on Classification"
I would like to create a notebook on  Classification , covering all topics and subtopics related to it. Kindly assign me this issue under GSSoc. Thankyou.

[2021-03-13 04:14] captainra1 opened #86 "conclude bias and variance in ML model"
problem formulation: concluding bias and variance in trained ml i.e, the model have high variance or high bias.
I am a GSSOc participant please assign me this issue,

[2021-03-13 06:23] PetalsOnWind commented on #71
This is one of the essential components I had in mind. Really looking forward to seeing this work.

Suggestion: Also add the basic assumptions of linear regression (common DS interview questions) but one that many people are not comfortable answering when asked out-of-blue

[2021-03-13 06:33] aswarth123 commented on #71
yes i will surely look into it

[2021-03-13 06:37] PetalsOnWind commented on #69
@soha28 @sakshi012000 @SSHREYA71  If you haven't already, please pick up some other topic because there is already a PR on this

[2021-03-13 07:06] utkarshxy commented on #9
Thanks for assigning this to me! Glad to work on this. I Will get this done ASAP 😊👍🏻

[2021-03-13 07:12] harleenkaur76 commented on #75
can i work on this issue.....i will try my best to make a clear and understandable documentation

[2021-03-13 07:13] psyduck1203 commented on #61
Hey, @PetalsOnWind is this issue still on coz I can see a code in the repo of both LLN and CLT and that's by none of the assigned participants.

[2021-03-13 07:31] PetalsOnWind commented on #73
@pawan-git7979  since you proposed this issue, can you explain more? This project is more towards concepts (statistical, econometrics) than use of a library. Can you propose more additions to make it more relevant?

[2021-03-13 07:33] PetalsOnWind commented on #76
@Ritu7683 The project is more about concepts rathe rthan use of a particular library. Can you propose more additions to this issue?

[2021-03-13 07:34] PetalsOnWind commented on #77
@Dhanush2612 I would prefer if logit and probit regressions were covered first. Also, I am not concerned about any particular dataset and this issue doesn't seem relevant to this project unless you propose more additions (from either mathematical, statistical or econometrics point of view)

[2021-03-13 07:35] PetalsOnWind commented on #78
@Dishita2602 This project is about concepts rather than libraries. If you could add more information to this issue regarding concepts, that would be great

[2021-03-13 07:38] PetalsOnWind commented on #79
@khareyash05 This project is more about concepts (mathematical, statistical and econometrics) in a DS context rather than use of any particular tech. You would have to do some more additions before I would consider this issue as a part of GSSOC'21

[2021-03-13 07:41] PetalsOnWind commented on #72
@subhadeepCh You can do the first 4 topics
@Bhavik-Ardeshna You can do Naive Bayes and add in examples with distributions

[2021-03-13 07:42] PetalsOnWind commented on #85
@snehaamenon This topic seems too broad. Maybe you can narrow it further to be more specific?

[2021-03-13 07:42] Bhavik-Ardeshna commented on #72
ok np

On Sat, Mar 13, 2021, 1:11 PM Pankhuri Saxena ***@***.***>
wrote:

[2021-03-13 07:45] #77 closed

[2021-03-13 07:46] PetalsOnWind commented on #61
@psyduck1203 This issue is still on although its mostly about updating documentation

[2021-03-13 08:03] snehaamenon commented on #85
Okay then , can i work on only  binary classification topic ?

[2021-03-13 08:15] Ritu7683 commented on #76
@PetalsOnWind Can you give me a hint on what kind of additions you want?

[2021-03-13 08:18] PetalsOnWind commented on #82
@Bhavik-Ardeshna Seems good but your previous PR was missing on documentation. So write lots of explanations in this

[2021-03-13 08:19] PetalsOnWind commented on #83
Also add mathematical concepts of MLR and hypothesis testing for coefficients

[2021-03-13 08:19] Ritu7683 opened #87 "Notebook on KNN"
This notebook will include a brief introduction and implementation of KNN algorithm. I want to work on this issue. Kindly assign this to me. @PetalsOnWind

[2021-03-13 08:20] PetalsOnWind commented on #72
@Bhavik-Ardeshna I see that you have also commented on and opened many other issues. Maybe focus on them for now?

[2021-03-13 08:22] PetalsOnWind commented on #76
@Ritu7683
Examples: frequency distributions, how to plot histogram with pdf of a distribution, plotting confidence intervals, etc

[2021-03-13 08:23] Bhavik-Ardeshna commented on #72
ok cool so I am unassign this issue for now

[2021-03-13 08:30] PetalsOnWind opened #88 "Fix graphs in WIP/Central Limit Theorem.ipynb"
Fix up the graphs in the notebook

1. Remove all added images
2. Code the graphs to show what the image was trying to tell (eg, remove poison distribution image and simulate a poison distribution and plot it)
3. Have all graphs show titles for all the axes and histograms should have edge color for bins
4. Move the notebook from WIP to notebooks folder

[2021-03-13 08:32] PetalsOnWind opened #89 "Add explanation in WIP/Correlation.ipynb"
Add more reasoning for why the steps are done in that notebook. Once done, move it to notebooks folder

[2021-03-13 08:37] #35 closed

[2021-03-13 08:40] Dishita2602 commented on #76
I can do if you want

[2021-03-13 08:45] aishwaryachand commented on #88
Hey @PetalsOnWind  I have just gone through the Notebook on Central Limit Theorem and I have understood all the changes that you want. So could you pls assign me this issue?

[2021-03-13 08:45] PetalsOnWind opened #90 "Add badges in readme"
Example: https://shields.io/category/social

Badges on number of stars, number of forks, contributed, PRs, issue, etc

[2021-03-13 08:48] captainra1 commented on #86
thank you

[2021-03-13 09:47] priyanshu20 commented on #90
Can I take up this issue?

[2021-03-13 09:55] Rutikab12 commented on #51
thank you. In how many days i am suppose to complete this? @PetalsOnWind

[2021-03-13 10:41] #79 closed

[2021-03-13 11:05] harleenkaur76 commented on #73
i am a gssoc participant and i would love to work on this . i will be explaining this with relevant matter and examples.

[2021-03-13 13:51] pawan-git7979 commented on #73
Okk, sorry for the inconvenience.
I thought graphs are the best way to draw insight from the data and to do EDA, so i proposed a matplotlib issue.

[2021-03-13 14:00] skybluee2001 commented on #12
@PetalsOnWind, thanks for assigning me this issue.
I would like to contribute a notebook containing the implementation & a detailed explanation of the Linear Regression model.

[2021-03-13 14:05] skybluee2001 commented on #12
@PetalsOnWind, thanks for assigning me this issue.

[2021-03-13 14:10] rohansharma4050 opened #92 "Notebook on SVM"
The notebook will contains the details and implementation of Support Vector Machine Algorithm.
I would like to work on this issue under GSSOC21 @PetalsOnWind can you please assign this to me

[2021-03-13 15:27] anjiii-18 commented on #12
@PetalsOnWind Thanks a lot for assigning me this issue. Can you please brief a little what are we exactly supposed to do.
Can we take any data set?

[2021-03-13 15:39] Simar05519 commented on #73
I want to work on this issue. Please assign to me.

[2021-03-13 16:36] sakshi012000 commented on #12
thanks for assigning me this issue.

[2021-03-13 16:42] sakshi012000 commented on #12
@PetalsOnWind thanks for assigning me this issue.

[2021-03-13 16:45] ankit-kmar commented on #89
May I take this issue ? @PetalsOnWind

[2021-03-13 18:26] PetalsOnWind commented on #51
@Rutikab12 You should have a PR with first draft up in 4 days. However since the concepts might be new to you, the final draft may take longer. The final draft can be ready in 2 weeks and should incorporate all suggestions (more time if necessary depending on need)

[2021-03-13 18:26] #80 closed

[2021-03-13 18:28] PetalsOnWind commented on #92
@rohansharma4050 Also add the mathematics behind it

[2021-03-13 18:30] PetalsOnWind commented on #12
@anjiii-18 Yes, take any dataset. Explain calculating summary statistics and p-values associated

[2021-03-13 18:41] ankit-kmar commented on #90
may I take this issue? @PetalsOnWind

[2021-03-13 20:48] ankit-kmar commented on #90
Added the badges and made the pull request. Do let me know if you require some changes @PetalsOnWind ma'am

[2021-03-14 04:53] harleenkaur76 commented on #76
i am a gssoc participant and i would love to work on this by and would love to explain every concept.

[2021-03-14 05:10] PetalsOnWind commented on #76
I believe this issue is easy enough for one person and I am not assigning this to other people unless A) there has been no activity for 5 days or B) there is a convincing argument for what all concepts you'll be adding

[2021-03-14 05:49] subhadeepCh commented on #72
@PetalsOnWind started working on the issue,thank you to assign this to me

[2021-03-14 11:00] subhanjan160901 commented on #78
Hey, I am a gssoc participant. Can I contribute in this issue?

[2021-03-14 11:05] AnushkaThakkar commented on #78
Hey @subhanjan160901 ,

I request you to add more information regarding the mathematics/statistics or economic concept for which you will be using Stale library.

[2021-03-14 11:11] SSHREYA71 commented on #17
Thank You for assigning this issue to me. :). Will try to make PR as soon as possible.

[2021-03-14 11:33] RidhimaKohli commented on #41
Here is the concept with which I will solve this issue :

- **ROC : Receiver Operating Characteristics graph** , is a measure of how much a model is capable of distinguishing or classifying the classes. ROC is plotted between TPR (true positive rate) and FPR (false positive rate) which can be calculated from confusion matrix.
- **AUC** : Area Under the curve represents the degree of separability.

[2021-03-14 16:18] harleenkaur76 commented on #14
@PetalsOnWind i am a gssoc particiapnat i wantto work on this project can you please assign this project to me

[2021-03-14 16:21] harleenkaur76 commented on #3
@PetalsOnWind can you please assign this to me....i really want to work on this , so that i can practice my skills and enhancing them

[2021-03-14 17:30] shraiyya opened #95 "Notebook on XGBoost Algorithm"
I would like to add Notebook on XGBoost Algorithm.
I am a GSSOC'21 participant

[2021-03-14 17:33] AnushkaThakkar commented on #95
Hey @shraiyya ,
I request you to add more information regarding the mathematics/statistics or economic concept for which you will be using XGBoost Algorithm.

[2021-03-14 17:35] shraiyya commented on #95
Yes Sure . I would work on that too. Please do assign me.

[2021-03-14 18:28] Dishita2602 opened #96 "Notebook on Random Forest Regression using Hyperparameter tuning"
Hey , I would be using Random Forest Regression and using hyperparameter tuning to find best fit amongst all. So kindly assign me

[2021-03-14 18:35] Dishita2602 opened #97 "Notebook on ANN"
Hey I am GSSoC'21 participant and I would like to add ANN notebook with detail explanation about process and maths behind it.So kindly assign me

[2021-03-15 04:28] sherin527 opened #99 "Notebook on NaiveBayes"
Hi @PetalsOnWind, I want to implement the NaiveBayes algorithm and its statistics behind it. So can you assign me this?

[2021-03-15 06:56] Dishita2602 commented on #76
Heyy, I want to contact you regarding my code because this is first time I am contirbuting @PetalsOnWind where should I contact you ?

[2021-03-15 07:06] muthuannamalai12 opened #100 "Add CONTRIBUTING.md file"
I would like to add a CONTRIBUTING.mdfile which will contain all contributing guidelines and all git workflow so that all newbies or beginners and even experts can look into it and also the contributors will understand the workflow

[2021-03-15 07:06] muthuannamalai12 commented on #100
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 07:07] muthuannamalai12 opened #101 "Greeting Bot"
Create a Contributor Greetings Bot.
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.

[2021-03-15 07:08] muthuannamalai12 commented on #101
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 08:35] Simar05519 commented on #100
I want to work on this issue. Please assign to me.

[2021-03-15 10:33] Dishita2602 opened #102 "Notebook on Pandas Library"
Heyy, I would be completely explaining pandas library from scratch eg - how to create data frame, read and write in csv file etc. Code with explanation plus theory. So kindly assign me (GSSoc'21 Participant)

[2021-03-15 15:28] Elizah550 commented on #87
Hey!!
I too wanted to do this.Can you assign this to me thanks !!.

[2021-03-15 15:31] Elizah550 commented on #76
Hey !!!
I wanted to do this can you assign it to me thanks !!

[2021-03-15 15:34] Elizah550 commented on #102
HEYY!!
I  have already done this notebook similarily in my initial learning  process you can assign it to me. Thanks!!

[2021-03-15 15:37] Elizah550 commented on #99
Heyy !!!!
I also wanted to do this for past days but did not happened till now but if I had a chance I can do it now and it will increase my learning process. Thanks!!!

[2021-03-15 16:53] Elizah550 commented on #73
Hey!!
I can work on this I have the best idea to put this in a best place so please assign it to me I would do it in the best possible way.
Thanks !!

[2021-03-16 08:36] Elizah550 commented on #69
Heyy !!!
I have great experience in this please assign it to me thanks. Done this in my learning journey please assign it to me
Thanks!!!

[2021-03-16 09:54] ananyade2412 commented on #75
Hello ma'am
I have started working on the issue.

[2021-03-16 14:42] Debashish-hub opened #106 "Notebook for Face Recognition"
Hello!

I am a GSSOC'21 participant. I would like to contribute on this repository with face recognition notebook.

It would be great if I will be assigned with this issue @PetalsOnWind

Thank you.

[2021-03-17 17:32] PetalsOnWind commented on #102
I don't think this notebook constitutes an essential part of this project so I am closing this issue for now.

[2021-03-17 17:32] #102 closed

[2021-03-17 17:32] PetalsOnWind commented on #101
I don't think its necessary at this stage

[2021-03-17 17:32] #101 closed

[2021-03-17 18:20] SSHREYA71 commented on #17
@PetalsOnWind  Do i have to make a readme for this?

[2021-03-18 04:56] PetalsOnWind opened #111 "Fix Documentation in notebooks/Central Limit Theorem.ipynb"
Fixes required:

1. Add more comments in the code cells
2. Add the mathematical formulations for central limit theorem

[2021-03-18 04:57] PetalsOnWind opened #112 "Add headings in notebooks/Heteroskedasticity"
Add relevant sections and headings

[2021-03-18 04:59] PetalsOnWind opened #113 "Add maths in notebooks/Heteroskedascticity"
Add
1. Mathematical formula for the codes used to generate graphs
2. Maths for Goldfeld-Quandt and Breush-Pagan test

[2021-03-18 05:02] PetalsOnWind opened #114 "Fix images in notebooks/JointProbabilityDistribution"
Add LaTeX tables instead of the images currently present

[2021-03-18 05:03] PetalsOnWind opened #115 "Add calculation of a pdf from bivariate normal distribution in notebooks/JointProbabilityDistribution"

[2021-03-18 05:05] PetalsOnWind opened #116 "Add math in notebooks/LNN"
Add the mathematical limit for convergence in the notebook

[2021-03-18 09:33] Ayushisood commented on #111
Hii @PetalsOnWind I would like to work on this issue as a GSSOC'21 participant
Looking forward for the positive response

[2021-03-18 09:47] Ayushisood commented on #115
Hii @PetalsOnWind
I would like to work on this issue under GSSOC'21, kindly assign this issue to me so i can start contribution :)

[2021-03-18 11:40] shivanir23 commented on #112
May i please take this issue @PetalsOnWind ?

[2021-03-18 15:24] JanhaviSoni commented on #114
@PetalsOnWind please assign this issue

[2021-03-18 18:42] shivanir23 commented on #116
Could you please assign me me this issue @PetalsOnWind ?

[2021-03-18 19:45] amonikag commented on #113
Can you please elaborate the issue like what all needs to be done?
Please explain through an example. I am interested in this issue

[2021-03-18 19:49] amonikag commented on #113
I'm a GSSOC'21 participant

[2021-03-19 04:32] harleenkaur76 commented on #111
@PetalsOnWind i am a gssoc participant and would love to work on this issue

[2021-03-19 06:00] deepthi1107 commented on #81
hello,@PetalsOnWind I would like to work in this issue, can u please assign me. I am a GSSOC'21 participant

[2021-03-19 08:40] deepthi1107 commented on #81
hello,@PetalsOnWind I would like to do k-means clustering and also like to give suitable labels to the clusters, I hope @PetalsOnWind would assign me to do .

[2021-03-19 09:04] SNIGDHA2654 commented on #112
I am a gssoc21 participant. I would like to work on this issue, please assign it to me.

[2021-03-19 09:08] SNIGDHA2654 commented on #87
Hi, I can create a KNN notebook covering all the major aspects of the algorithm.  I am a gssoc participant.  @PetalsOnWind Kindly, assign this issue to me.

[2021-03-19 09:21] aishwaryachand commented on #81
Hey @deepthi1107  I am almost done with it. I will make a pr by today.. Pls take some other issue.

[2021-03-19 10:33] yashasvimatta commented on #112
Hi i am GSSoc 21 participant and beginner in open source. Can i work on this issue?

[2021-03-20 06:44] jaimehta1912 commented on #111
@rishabh-me Kindly Assign me this issue .I am gssoc 2021 participant.I will make sure to make a PR by tommorow morning .I am Partially done with the coding part

[2021-03-20 10:52] aditi1403 opened #120 "Update README.md"
I have made some grammatical edits to the README.md file. Kindly refer to the #119 PR.

[2021-03-20 11:58] jaimehta1912 commented on #111
@PetalsOnWind  please assign me this issue

[2021-03-20 16:27] khusheekapoor commented on #2
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. Thanks!

[2021-03-21 09:06] Sibasish-Padhy commented on #115
hii @PetalsOnWind ,I would like to contribute to this issue under gssoc'21,kindly assign this issue to me so I can start contribution

[2021-03-21 12:12] anjiii-18 commented on #12
@PetalsOnWind I have uploaded the notebook. Kindly review it. The pull request is Statistical Notebook #121.

[2021-03-21 17:00] skybluee2001 commented on #12
@PetalsOnWind I have made a PR. Kindly review it.
Pull request #123

[2021-03-21 17:29] sakshi012000 commented on #12
@PetalsOnWind I have made a PR. Kindly review it.
Pull request #124

[2021-03-22 07:00] aakriti1318 opened #126 "Notebook on Exploratory Data Analysis"
Hey @PetalsOnWind, Gssoc21 participant
EDA is a technique to analyze data and it uses statistical analysis and graphical presentation to extract main characteristics and features.
I would like to work on this issue.

[2021-03-22 10:51] Simar05519 commented on #126
Hey, please assign me this issue. I would like to work by giving statistical approach

[2021-03-22 20:15] vaishnavipatil29 opened #127 "Documentation On Hypothesis Testing"
Hi @PetalsOnWind

I want to work on documentation and implementation of Hypothesis Testing topic. Please assign it to me.

[2021-03-23 09:01] moyantri opened #128 "Notebook on Naive Bayes"

[2021-03-23 10:21] skybluee2001 commented on #12
@PetalsOnWind, I have changed the images to LaTeX text. Kindly review it.
PR #123

[2021-03-23 10:24] sakshi012000 commented on #12
@PetalsOnWind  I have added references. Please review it. PR #124

[2021-03-23 11:39] anjiii-18 commented on #12
@PetalsOnWind I have done the required changes, and uploaded two notebooks. Kindly review it. PR #121

[2021-03-23 15:45] PetalsOnWind commented on #128
I think someone else is doing this

[2021-03-23 15:45] #128 closed

[2021-03-23 15:50] PetalsOnWind commented on #126
Received too many issues on this already

[2021-03-23 15:50] #126 closed

[2021-03-23 15:52] PetalsOnWind commented on #113
Look at 1-way ANOVA notebook. You'll see that there is mathematical explanation of tests and the problems. Do that for heteroskedasticity

[2021-03-23 15:53] PetalsOnWind commented on #120
PR merged

[2021-03-23 15:53] #120 closed

[2021-03-23 16:56] anjiii-18 commented on #12
@PetalsOnWind
Kindly review both the notebooks .
Statistical & Probability Notebook : Part 1
Statistical & Probability Notebook : Part 2
pr #121

[2021-03-23 17:29] sameeksharl commented on #2
hey!! I am part of GSSoC'21.I am interested to work on this issue . Could you please assign it to me ?? I would like to add few more topics which would give some good ideas and can work on it .

[2021-03-23 17:32] sameeksharl commented on #61
I am a participant of GSSOC . I wanted to work on this issue. could you please assign it to me ?
I would try giving detailed explanation on LNN and CLT with examples.

[2021-03-23 17:33] PetalsOnWind commented on #2
This issue is a forever open issue. Just open a PR and I'll assign tags there if I think that your ideas are good

[2021-03-23 19:08] amonikag commented on #113
Okay. Thank you!

[2021-03-24 07:25] PetalsOnWind commented on #61
@sameeksharl You mostly need to see the earlier notebooks on these topics and improve their documentation

[2021-03-24 08:14] anjiii-18 commented on #12
I have added overall headings to notebook. Kindly review. :) pr#121

[2021-03-24 11:49] jaimehta1912 commented on #127
I am a gssoc 2021 participant kindly assign me the  issue

[2021-03-24 16:20] Ayushisood commented on #115
Thank you for assigning!

[2021-03-25 04:36] ishitakapoor26 commented on #3
@PetalsOnWind can you please assign this issue to me. I am willing to take up this issue as I'm a beginner at python.

[2021-03-25 09:30] jainyk commented on #115
hii @PetalsOnWind ,I would like to contribute to this issue under GSSOC'21,kindly assign me this issue  so that i can contribute

[2021-03-26 15:24] rauniyarbsal commented on #90
Hello @PetalsOnWind !!
Can i work in this issue?

[2021-03-26 19:05] jainyk opened #133 "Notebook on Linear Discriminant Analysis (LDA)"
@PetalsOnWind, I am GSSOC 2021 participant and want to introduce dimentionality reduction technique like LDA. Can you assign it to me ?

[2021-03-27 09:34] lekshmissunil commented on #6
Hey, I'm a GSSoc'21 participant who's quite interested in statistics for data science. @PetalsOnWind Could you please assign this to me?

[2021-03-27 11:05] JanhaviSoni commented on #114
@PetalsOnWind Please review the PR

[2021-03-27 11:35] KhushiChaudhary744 opened #135 "Notebook on clustering (Python libraries used.)"
I am really interested in this issue.
I saw that no one has taken up clustering may i go ahead with it?

[2021-03-27 11:36] KhushiChaudhary744 opened #136 "Notebook on sequence mining."
I wish to go ahead with this issue and will appreciate it being kept open for all and not assigned to only one individual.

[2021-03-27 17:19] pawan-git7979 commented on #92
I can also work on this issue @PetalsOnWind

[2021-03-27 23:02] AnushkaThakkar commented on #135
Hey @KhushiChaudhary744 ,

you can demonstrate the mathematics behind k-means clustering.
Make sure to add proper headings.

[2021-03-28 17:01] #114 closed

[2021-03-28 17:12] PetalsOnWind opened #138 "Add explanations in multilinear regression notebook"
As discussed in #137

@Bhavik-Ardeshna

[2021-03-28 17:13] #83 closed

[2021-03-28 17:14] PetalsOnWind commented on #136
Can you add more explanation on how do you think the topic is relevant to this project? @KhushiChaudhary744

[2021-03-28 17:16] PetalsOnWind opened #139 "Changes in notebook on distributions"
1. Add overall heading
1. Add section headings
2. Add maths for each distribution
4. Add more explanation

As required in #103

[2021-03-28 18:01] KhushiChaudhary744 commented on #136
Sequence mining is a subtopic of data mining and is useful for pattern recognition, statistically. It is used in data science, seldom.
I think it will be a good addition, I completely understand if my assumption was wrong, sorry.

[2021-03-28 18:07] PetalsOnWind commented on #136
@KhushiChaudhary744 I am sorry but I don't think its relevant at this stage.

If you want an issue to work on, you can pick up anything that has had no activity in last 7 days

[2021-03-28 18:50] KhushiChaudhary744 commented on #136
Oh okay, thanks I will go through them!

[2021-03-28 18:50] #136 closed

[2021-03-28 19:23] saketbyte commented on #138
I would like to work on #137 .
Samriddh Singh.
@saketbyte

[2021-03-29 05:20] AdityaGarg00 commented on #139
I would like to contribute to this issue

[2021-03-29 06:32] anirudhsai20 commented on #76
Hi ! Can you please assign me this issue under GSSOC?

[2021-03-29 08:01] Dishita2602 commented on #76
I have already done please try out at some other issue

[2021-03-29 18:11] #76 closed

[2021-03-29 19:34] adityaraute opened #143 "Add Issue Templates"
Create some Issue templates for better, seamless conversations and Issue creations.

[2021-03-29 19:49] PetalsOnWind commented on #143
Unnecessary

[2021-03-29 19:49] #143 closed

[2021-03-30 04:47] Dishita2602 commented on #84
Hi ! I am interested to contribute in this notebook

[2021-03-30 04:53] Dishita2602 commented on #99
Hi ! I am interested in contributing to this issue. I would give detail explanation about Naive Bayes Theorem & code for both classification and regression problem. I am GSSoC'21 participant

[2021-03-31 08:33] anirudhsai20 opened #146 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project has been listed in. Also there are a few minor grammatical errors that needs correction.

[2021-03-31 08:33] anirudhsai20 commented on #146
Hi! Please assign this issue to me under GSSOC.

[2021-03-31 18:31] KHUSHI-SANGAL commented on #111
I am also a gssoc'21 participant and want to work on your project.

[2021-03-31 20:11] jaimehta1912 commented on #111
@KHUSHI-SANGAL I am done with the coding part .I will make a PR by today

[2021-04-01 10:32] KHUSHI-SANGAL commented on #111
That's great @jaimehta1912. I will work on some other issue.

[2021-04-02 16:37] AnushkaThakkar commented on #146
Hey @anirudhsai20 ,
This is an open issue, you can create a PR

[2021-04-02 16:39] AnushkaThakkar commented on #96
Hey @Dishita2602 ,
What's the status of your work?

[2021-04-02 16:41] Dishita2602 commented on #96
Will upload by tomorrow

[2021-04-02 16:45] Dishita2602 commented on #96
Can you please label it as GSSoC'21 and level

[2021-04-02 16:51] Dishita2602 commented on #99
Any updates ?

[2021-04-03 04:11] anirudhsai20 commented on #146
Hi. Please assign this issue to me so that I can proceed with my PR.

[2021-04-03 18:39] aishwaryachand commented on #71
Hey @PetalsOnWind ,I really like the idea of adding a notebook on the same. (If no one is currently working on it ).Pls assign it to me.

[2021-04-03 19:00] aishwaryachand opened #149 "Apriori Algorithm notebook"
Hey I would like to create a notebook which would explain apriori algorithm and also have an implementation

[2021-04-04 02:10] aswarth123 commented on #71
@aishwaryachand it is assigned to me and I am working on it you please look into any other issue

[2021-04-04 06:04] pallavidhere23 commented on #85
Can I work on this issue @PetalsOnWind .

[2021-04-04 06:05] pallavidhere23 commented on #99
Hey @PetalsOnWind can I work on this issue.

[2021-04-04 11:06] Rajeswari0410 commented on #99
Hi! I'm interested to work on this issue. Can you assign me this

[2021-04-04 11:52] Rajeswari0410 commented on #2
Hello! I'm a participant of GSSOC'21 and would like to suggest a topic for Correlation and also like to work on that. The topic is Movie Recommendation using only Correlation ( no other libraries like Scikit ). Would like to have permission to work on this.Thank you

[2021-04-05 06:13] Dishita2602 opened #154 "Ensemble learning techniques"
I would be explaining about ensemble learning techniques like bagging, boosting, decision tree, extreme gradient boosting and random forest. Also maths behind it. Please assign this issue to me

[2021-04-05 11:28] ankit-kmar opened #155 "Auto Label Bot"
**Is your feature request related to a problem? Please describe.**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Describe the solution you'd like**
A script in .github

[2021-04-05 14:26] ankit-kmar opened #156 "Welcome Bot"
This bot basically greets someone who opens up an issue or makes a pr for the first time in the repo and also when the pr gets merged.

Here is the greetings that I'll use:

Someone opens a new issue:

Hi @_user!

Thanks for opening a new issue to Statistics-and-Econometrics-for-Data-Science! Don't forget to go through our Code of Conduct and Contributing Guidelines, and wait until you get assigne

[2021-04-05 15:44] Amit366 commented on #5
@PetalsOnWind can I work on this issue??

[2021-04-05 16:12] einhawking commented on #2
I am a participant GSSOC'21
I would like to contribute in this

[2021-04-05 17:55] Dishita2602 commented on #5
If no updates than kindly assign to me..I am GSSoC'21 participant

[2021-04-05 17:56] Dishita2602 commented on #6
If no updates than I would like to address this issue..GSSoC'21 participant

[2021-04-05 17:57] Dishita2602 commented on #7
If no updates I would like to address this issue

[2021-04-05 18:59] snehaamenon commented on #7
Hi @PetalsOnWind you can assign this issue to @Dishita2602 . As due to my exams i wasn't able to work on it

[2021-04-06 03:39] Dishita2602 commented on #7
Thank for such good gesture. All the best for exams !

[2021-04-06 08:49] KHUSHI-SANGAL commented on #135
@AnushkaThakkar hello ma'am, I would also like to work on this issue, could you please assign it to me as well?

[2021-04-06 10:00] pawan-git7979 commented on #138
I would like to work on this issue @PetalsOnWind

[2021-04-06 10:21] ashwinraj-in opened #158 "New Notebook for Random Forest Algorithm (for Regression and Classification)"
Hi @PetalsOnWind, I wish to implement the **Random forest algorithm** for both _Regression and Classification_ problems and also include the mathematics behind it. I have previously written a detailed blog explaining the entire algorithm for solving  regression problems.

Checkout the blog here: https://towardsdatascience.com/a-quick-and-dirty-guide-to-random-forest-regression-52ca0af157f8

 So ca

[2021-04-07 18:52] Dishita2602 commented on #133
If there is no work done yet..Than I am interested to contribute to this issue.Please assign me !

[2021-04-07 18:54] Dishita2602 commented on #87
I would like to contribute to this notebook. I would start explaining KNN from scratch and also explain how code works with math behind it. Please assign me

[2021-04-07 19:39] saidrishya opened #160 "new notebook on plotly and cufflinks"
Hi, I am a GSSOC 2021 participant.
Plotly and cufflinks are interactive visualization tools, and I would like to work on them. Kindly assign it to me.

[2021-04-08 08:54] jainyk commented on #133
I have send a pull request please have a review.

[2021-04-08 18:29] DOOMSTERR opened #162 "Modifying/Styling Readme.md file"
# Proposed Changes
### Detailed Description

### Modifying by adding

1.)Adding emojis and changing alignments of some
headings/text to make it look better.

2.)Adding Sections:
->In Contributor Section adding

3.) To remove the table of content section as it is a feature already given by Github. (optional only if permitted by admin)

Hello, @PetalsOnWind, Please assign me this issue under the GSS

[2021-04-09 04:31] AnushkaThakkar commented on #135
Hey @KhushiChaudhary744 , What's the status of your work?

[2021-04-09 04:35] AnushkaThakkar commented on #135
Hey @KHUSHI-SANGAL , since one is already assigned, Let's wait for her reply to know what's her work status, we can later discuss on what can you contribute on this issue.

[2021-04-09 05:03] KHUSHI-SANGAL commented on #135
@AnushkaThakkar ok ma'am no issue .

[2021-04-09 08:21] anirudhsai20 commented on #146
Hi! Please check my pull request.

[2021-04-09 13:10] KhushiChaudhary744 commented on #135
Hey, I am almost done and will be uploading by Sunday or Monday evening!

[2021-04-09 17:42] KHUSHI-SANGAL commented on #139
@PetalsOnWind Hello ma'am, I would also like to work on this issue, Can you please assign this to me as well?

[2021-04-09 17:46] KHUSHI-SANGAL commented on #113
@PetalsOnWind  Hello ma'am, I am also a GSSOC'21 participant, Can you please assign this to me as well?

[2021-04-09 22:38] aishwaryachand commented on #41
hey @PetalsOnWind  I have an understanding of ROC,AUC and and I would like to explain itin detailed wrt the maths behind it.Pls  assigned me this issue. I am A ggsoc'21 participant

[2021-04-10 12:51] Dishita2602 commented on #7
@AnushkaThakkar @PetalsOnWind I am focusing on Auto regression (AR) time series model here. So please edit issue name because it might create confusion later on.

[2021-04-10 13:23] anirudhsai20 commented on #146
Please check Pr #157.

[2021-04-12 04:52] anirudhsai20 commented on #146
Hi! Please check my PR.

[2021-04-12 15:49] Dishita2602 commented on #96
@AnushkaThakkar @PetalsOnWind I have made pull request please review it. #96

[2021-04-17 16:06] aabhapingle opened #163 "Notebook for measures of Central Tendency"
Hi! I would like to create a new notebook for demonstrating the concept and use of mean, median, and mode. Kindly assign it to me. Thank you.

[2021-04-18 16:05] mehak6569 opened #164 "Add detailed explanation and comments in data_summary_breast_cancer.ipynb"
I want to add detailed explanation through comments and markdowns in the [data_summary_breast_cancer.ipynb](https://github.com/PetalsOnWind/Statistics-and-Econometrics-for-Data-Science/blob/main/notebooks/data_summary_breast_cancer.ipynb) file, so that even a ML beginner can read and understand the notebook easily.
Please assign this issue to me.

[2021-04-19 12:41] aryasoni98 commented on #162
I would like to work on it . Assign me @DOOMSTERR

[2021-04-19 17:44] Tejal18 opened #165 "Adding comments and explanation to the given code in intro-numpy-pandas-matplotlib.ipynb"
I want to add comments and a detailed explanation to intro-numpy-pandas-matplotlib.ipynb notebook .
By adding comments and explanation the code will be easily understood by a beginner.
Please do assign me this issue.
Thanks.

[2021-04-20 17:57] Tejal18 opened #166 "Creating a notebook for basic python for data science"
I want create a notebook which contains the basic python codes required for data science, so that any beginner can learn python and implement the python commands in data science.
Please do assign me this issue.
Thanks.

[2021-04-21 16:23] #111 closed

[2021-04-21 16:33] #138 closed

[2021-04-21 16:37] PetalsOnWind opened #167 "Autoregression notebook"
@Dishita2602

Notebook for AR model

[2021-04-21 16:41] Dishita2602 commented on #167
Okay. Do assign

[2021-04-21 16:44] Dishita2602 commented on #96
@PetalsOnWind this is of level 3 but after merging you have mention level 2 please correct. I have explained not only theory of random forest but also hyperparameter tuning. Please correct asap

[2021-04-21 16:57] Dishita2602 opened #168 "XG Boost"
XG Boost is ensemble learning techniques it's maths is quite confusing so I would like to add maths and stats behind it. So kindly assign me.

[2021-04-21 16:59] Dishita2602 opened #169 "Auto-Regressive-Moving-Average Model"
ARIMA is time series model. A lot of math and stats behind it I will explain via graphs and content. Please assign me

[2021-04-22 17:11] PetalsOnWind commented on #169
This is related to statistics and econometrics, and will be kept as Level3 issue only

[2021-04-22 17:11] PetalsOnWind commented on #168
Irrelevant

[2021-04-22 17:11] #168 closed

[2021-04-22 17:15] PetalsOnWind commented on #164
I think other issues should be handled first before this is fleshed out more

[2021-04-22 17:15] #164 closed

[2021-04-22 17:15] PetalsOnWind commented on #165
Not important right now. That notebook will be deleted in near future

[2021-04-22 17:15] #165 closed

[2021-04-22 17:16] PetalsOnWind commented on #162
Looks like stock issue and not interested in those.

[2021-04-22 17:16] #162 closed

[2021-04-22 17:17] PetalsOnWind commented on #163
@aabhapingle I expect a bit more of notebooks. Can you add what more things you can add. Maybe something about moments, mgf, pdf, pmf, etc?

[2021-04-22 17:17] PetalsOnWind commented on #160
Project is about concepts not tools

[2021-04-22 17:17] #160 closed

[2021-04-22 17:17] PetalsOnWind commented on #158
No ML issues will be assigned

[2021-04-22 17:17] #158 closed

[2021-04-22 17:17] PetalsOnWind commented on #156
Stock issues not accepted

[2021-04-22 17:17] #156 closed

[2021-04-22 17:18] PetalsOnWind commented on #155
Stock issues not accepted

[2021-04-22 17:18] #155 closed

[2021-04-22 17:18] PetalsOnWind commented on #149
I'll assign level based on the notebook

[2021-04-22 17:19] #154 closed

[2021-04-22 17:19] #146 closed

[2021-04-23 05:37] Tejal18 commented on #7
Hi @Dishita2602 are you creating auto regression and implementing correlation in that?

[2021-04-23 05:42] Tejal18 commented on #7
Hi @PetalsOnWind  , If @Dishita2602 is working on auto regression . I would like to contribute to auto correlation.
I will create a notebook that will implement correlation.

[2021-04-23 05:55] Tejal18 commented on #163
@PetalsOnWind I can add the things that you have asked for that is the visualization of the central tendencies.
I want to contribute to this issue. I will create a notebook which will explain the central tendency concept by visualizing it.
Please do assign me this issue. Thanks.

[2021-04-23 06:13] aabhapingle commented on #163
@PetalsOnWind Yes, sure! I can add explanations for PMF, PDF, CDF and MGF and create visualizations for the same. I could also explain the applications of the same.

[2021-04-24 10:00] nidhivanjare opened #173 "Decision Tree Classifier"
Hey, I would like to create a notebook that would explain the Decision Tree Classifier with implementation.
I am a GSSOC'21 Participant and would like to work on this issue!

[2021-04-25 05:47] nidhivanjare opened #174 "Principal Component Analysis"
Hey, I would like to create a notebook that would explain the Principal Component Analysis with Implementation.
I am a GSSOC'21 Participant and would like to work on this issue!

[2021-04-25 09:47] khareyash05 opened #175 "add contributing.md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on it as a part of GSSOC'21

[2021-04-27 09:44] nidhivanjare commented on #174
PetalsOnWind can I work on this?

[2021-04-27 09:44] nidhivanjare commented on #173
@PetalsOnWind can I work on this?

[2021-04-30 11:39] sameeksharl commented on #21
I am a GSSOC Participant. I would like to work on this issue .pls assign

[2021-04-30 12:08] sameeksharl opened #177 "Documentation on Markov Chains"
Hi @PetalsOnWind @AnushkaThakkar

I want to work on documentation and implementation of Markov Chains topic. Please assign it to me.

[2021-05-01 14:01] sameeksharl commented on #177
I would add its complete details such as definition , properties and its statistical analysis
pls assign this task for me

[2021-05-02 17:44] #177 closed

[2021-05-02 17:48] sameeksharl opened #178 "what are Markov chains?"

[2021-05-04 14:15] KajalSinghBAGHEL opened #180 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:16] KajalSinghBAGHEL commented on #180
I am a GSSOC participant. Can I work on this issue?

[2021-05-05 09:43] #173 closed

[2021-05-05 10:44] nidhivanjare commented on #174
@AnushkaThakkar DONE !!

[2021-05-06 16:53] Aparna-Sakshi opened #182 "Phi K correlation"
I would like to provide a detailed implementation of phi k correlation, which is a newly emerging method to find correlations between any type of data(categorical, ordinal, and numerical ).

I am a GSSOC21 participant, kindly assign this issue to me. @PetalsOnWind

[2021-05-07 16:59] #169 closed

[2021-05-07 17:01] #174 closed

[2021-05-07 17:02] PetalsOnWind commented on #180
No readme issues accepted

[2021-05-07 17:02] #180 closed

[2021-05-07 17:03] PetalsOnWind commented on #175
Unnecessary

[2021-05-07 17:03] #175 closed

[2021-05-09 11:15] sameeksharl opened #184 "Notebook on summarizing a dataset"
I would include data cleaning , graph visualization , some insights about the dataset ..
I would like to take the dataset SF salaries from Kaggle.

[2021-05-09 12:11] #184 closed

[2021-05-09 20:00] PetalsOnWind opened #185 "Additions in Markov Chain notebook"
1.  add some statistical properties of markov chains
2. Add about ergodic markov chains
3. more explanations for code

@sameeksharl Look into this

[2021-05-10 07:43] Srishti013 opened #186 "Notebook on Sentiment Analysis"
I think sentiment analysis is a very important topic in ml and it should also be added in the set of notebooks. The notebook
will contain information on how sentiment analysis can help us to get to understand about product reviews, social media trends etc. and the various techniques used in it.

[2021-05-11 07:54] Dishita2602 opened #187 "Gaussian Mixture Models"

[2021-05-11 17:59] theanshulcode commented on #69
Please assign me this issue. I have done many projects on Data Visualisation by using Matplotlib, seaborn.
I am having sufficient knowledge for this so please assign this to me.

[2021-05-14 15:17] captainra1 opened #188 "notebook on anomaly detection."
full implementation and explanation of anomaly detection using NumPy and matplotlib library

[2021-05-14 16:46] #73 closed

[2021-05-14 16:54] theanshulcode commented on #188
I want to work on this from scratch. I am having a good knowledge of NumPy and Matplotlib library. Please assign this to me.

[2021-05-15 13:46] sameeksharl opened #191 "Notebook on Simulation"
I will able to explain from scratch , add properties and give more insights through an example.

[2021-05-17 07:36] sameeksharl commented on #191
@PetalsOnWind  @AnushkaThakkar Please assign me this issue

[2021-05-17 15:37] Dishita2602 commented on #149
I can work if no work is done yet @PetalsOnWind @AnushkaThakkar

[2021-05-17 15:46] Dishita2602 opened #192 "Notebook on hierarchical clustering"
In data mining and statistics, hierarchical clustering is a method of cluster analysis which seeks to build a hierarchy of clusters. Please assign me I would like to work on it

[2021-05-19 14:38] ArkaprabhaChakraborty commented on #187
Is anyone working on this? If not can get some heads-up on where to start?

[2021-05-19 18:07] Dishita2602 commented on #187
I will be doing PR by this weekend so you can work on diff issue

[2021-05-21 11:43] Komal-99 commented on #90
HI if this issue is still open please assign it to me. i am gssoc'21 participant and would to contribute here

[2021-05-21 11:44] Komal-99 commented on #100
Hi can i work on this i guess there is no PR made for this as said deadline is 2 days . I am gssoc'21 participant

[2021-05-21 12:55] Komal-99 commented on #135
Is this issue resolved?

[2021-05-21 12:58] Komal-99 commented on #3
Hi can i work on this issue?

[2021-05-23 11:13] A-kriti opened #193 "Notebook on DBSCAN Clustering"
Density-Based Spatial Clustering of Applications with Noise (DBSCAN) is a base algorithm for density-based clustering. It can discover clusters of different shapes and sizes from a large amount of data, which is containing noise and outliers. That is, it basically helps to reduce the outliers/noise from the larger data. Hence giving much more informative and clean data.

@PetalsOnWind / @rishabh-m

[2021-06-05 18:18] #178 closed

[2021-08-25 20:30] aryasoni98 commented on #193
Could I work on this? @PetalsOnWind

[2021-08-25 20:34] aryasoni98 commented on #100
Could I work on this?

[2021-08-25 20:34] aryasoni98 commented on #90
Could I work on this?

[2021-08-26 07:46] PetalsOnWind commented on #193
@aryasoni98 Go ahead

[2021-08-27 20:57] aryasoni98 commented on #193
@PetalsOnWind Please review my PR

[2021-08-30 08:10] aryasoni98 commented on #193
Review my PR @PetalsOnWind

[2021-09-02 07:37] deepthi1107 commented on #192
I am willing to write a notebook on hierarchical clustering

[2022-03-06 03:57] pawansharma197 commented on #192
Hello , Myself Pawan Sharma GSSOC 22 contributor and   I want to work on this issue  . Plz assign it to me

[2022-03-06 04:00] pawansharma197 opened #198 "Eclat and Fp Growth Implemenation in Jupyter Ntebook"
Implementation of Eclat and Fp growth Algorithm in Jupyter Notebook as they both are important algorithm for Association rule mining

[2022-03-06 04:03] pawansharma197 commented on #198
I am Gssoc'22 participant please assign this feature to me I want to work on it .